<html>
<head>
	<title>VirtualBulletin | New Exhibit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/jasny-bootstrap.css" rel="stylesheet">
	<link href="../css/jasny-bootstrap-responsive.css" rel="stylesheet">
	<link href="../css/bootstrap-select.css" rel="stylesheet">
	<link href="../css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>      
</head>

<body>
	<center>
	<h1>VirtualGallery</h1>
	<div class="box">
		<h2>New Exhibit</h2>
		<!--Image upload script adapted from Jasny's template
			http://jasny.github.io/bootstrap/javascript/#fileinput
			http://stackoverflow.com/questions/18132896/how-to-use-jasnys-file-upload-with-bootstrap-3
		-->
		</br>
		<h4>Select Exhibit Image</h4>
		<div class="fileupload fileupload-new" data-provides="fileupload">
				<div class="fileupload-preview thumbnail" data-trigger="fileupload" style="width: 200px; height: 150px;">
				</div>
				<div class="input-group-btn">
					<span class="button btn-file"><span class="fileupload-new">Upload</span>
					<span class="fileupload-exists">Change</span>
					<input type="file" name="..."></span>
					<span href="#" class="button fileupload-exists" data-dismiss="fileupload">Remove</span>
				</div>
		</div>

		</br>
		<h4>Add Exhibit Description</h4>
		<textarea id="exhibitDescription" class="form-control" rows="3" placeholder="Enter exhibit description here" style="width:200px"></textarea>
		</br>
		<h4>Add Exhibit Keywords</h4>
		{{#if newVersion}}
			<input type="text" class="form-control" placeholder="Keywords, separated by commas"></input>
		{{else}}
		<form>
				<fieldset>
				<select name="allTags" id="select-from" multiple size="5" style="width: 200px">
  					{{#each data}}
  						<OPTGROUP label={{Category}}>
  							{{#each Labels}}
  								<option value={{@index}}>{{this}}</option>
  							{{/each}}
  						</OPTGROUP>
  					{{/each}}
  					<!--<OPTGROUP label="Music">
  						<option value="1">Classical</option>
  						<option value="2">Hip-hop</option>
  						<option value="3">Rap</option>
  						<option value="4">R&amp;B</option>
  						<option value="5">A capella</option>
  					</OPTGROUP>
  					<OPTGROUP label="Sports">
  						<option value="6">Baseball</option>
  						<option value="7">Basketball</option>
  						<option value="8">Football</option>
  						<option value="9">Hockey</option>
  						<option value="10">Tennis</option>
  					</OPTGROUP>-->
				</select>
				</br>	
			    <a href="JavaScript:void(0);" id="btn-add">v Add v</a>
				</br>
 				<a href="JavaScript:void(0);" id="btn-remove">^ Remove ^</a>
 				</br>
				<select name="chosenTags" id="select-to" multiple size="5" style="width: 200px">
  					<!--Starts out empty-->
				</select>
				

		 	</fieldset>
		 </br>
		 	<!--<select class="selectpicker show-tick categorySelector" id="category1" title="Category" dir="ltr">-->
		 	<div id="keywordsDiv">
		 		<select class="categorySelector" id="category1" dir="ltr">
		 			<option selected style="display:none;">Pick a category</option>
		 			{{#each data}}
		 				<option>{{Category}}</option>
		 			{{/each}}
		 		</select>
		 		<!--<select  multiple class="selectpicker show tick labelsSelector" id="labels1" title="None selected" style="widht: 200px">-->
		 		<select multiple style="width:200px" id="labels1">
			 		
		 		</select>
		 	</div>
		 	<button class="btn btn-default" id="addCategories">Add more tag categories</button>
		</form>

			<input type="text" class="form-control" placeholder="Keywords not in above lists, separated by commas"></input>
		{{/if}}

		</br>

		<a href="viewGallery" id="submitExhibit" class="btn btn-success btn-block">Open New Exhibit</a>
		<br>
		<a href="viewGallery"><button class="btn btn-default">Cancel and Go to Your Gallery</button></a>
	</div>

	</center>

	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/jasny-bootstrap.js"></script>
	<script src="../js/newExhibitControls.js"></script>
	<script src="../js/bootstrap-select.js"></script>
</body>
</html>