<!doctype html>

<html>
<head>
	<title>VirtualGallery | Search Results</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>  
</head>

<body>
	<center>
	<img id="logo" src="../images/VirtualGallery Logo with Transparency.png"></img>
	</center>

	<div class ="box">
		<center>
			<h2>Check them out!</h2>
		</center>
		{{#each users}}
	    <div>
	    	<h3>{{username}}</h3>
    		<img src="{{exhibits.0.imageURL}}" class="photo">
	    	<div id="details">
	    		<a href="visitGallery/{{username}}">Click Here to View My Gallery</a><br>
	    		Contact information: <br>
		   		Email: <a href="{{email}}">{{email}}</a><br>
		   		Phone Number: <a href="tel:{{phone}}">{{phone}}</a><br>
		    	</div>
	    	</a>
	    </div>
	    {{/each}}

		<hr>

		<center>
		<a href="search" id="backBtn" class="btn btn-default">Start New Search</a>
		</center>
	</div>

	<!-- add scripts -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>
