<!doctype html>

<html>
<head>
	<title>VirtualGallery | Search Results</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>  
</head>

<body>
	<center>
	<h1>VirtualGallery</h1>
	</center>

	<div class ="box">
		<h2>People most similar to you</h2>
		{{#each users}}
    	<div>
    		<a href="visitGallery/{{username}}">
    			<h3>{{username}}</h3>
    			<img src="{{exhibits.0.imageURL}}" height=200 width=200> </br>
    			Shared interests: [placeholders] </br>
	    		Contact information: <br>
	    		Email: {{email}} <br>
	    		Phone Number: {{phone}} <br></br>
	    	</a>
	    </div>
	    {{/each}}

		<hr>

		<center>
		<a href="search"><button id="backBtn" class="btn btn-default" type="button">Start New Search</button></a>
		</center>
	</div>

	<!-- add scripts -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>


</body>
</html>
