<!doctype html>

<!-- code from index.handlebars of lab 5 -->
<html>
<head>
	<title>Search Results</title>	
 	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/defaultCSS.css" rel="stylesheet">

</head>

<body>
	<div class="container">
		<center>
		<h1>VirtualBulletin</h1>
		</center>

		<div class ="box">
			<h2>People most similar to you</h2>
			{{#each users}}
	    	<div>
	    		<a href="visitGallery/{{username}}">
	    			<h3>{{username}}</h3>
	    			<img src="{{exhibits.0.imageURL}}" height=200 width=200> </br>
	    			<!-- Shared interests: [placeholders] </br> -->
		    		Contact information: <br>
		    		Email: {{email}} <br>
		    		Phone Number: {{phone}} <br></br>
		    	</a>
		    </div>
		    {{/each}}

			<hr>

			<center>
			<a href="search"><button id="backBtn" class="button">Back</button></a>
			</center>
		</div>
	</div>

	<!-- add scripts -->
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>


</body>
</html>
